__pycache__
.idea/DailyQuant.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea
TensorFlow/models/*
TensorFlow/Tensorboard/*
data_array0.npy
data_array1.npy

